.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  min-height: calc(100vh - 12vh);
  padding: 2em;
}
.innerFormContainer {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 1em;
  box-shadow: 0px 0px 12px 1px #b3b3b3;
}
.innerFormContainer > div {
  color: white;
  padding: 1em;
  text-align: center;
  background: #323765;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}
.innerFormContainer > div > h1 {
  text-transform: uppercase;
  font-weight: 500;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

#form {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  padding: 2em 4em;
  width: 100%;
}

.errorMessage {
  font-size: 0.7em;
  text-align: left;
  margin-top: -15px;
  color: red;
}

#form > div > div:before {
  content: "";
  border: none;
}
.backButton {
  position: absolute;
  height: 2em;
  width: 2em;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.backButton a:active {
  color: white;
}
.backButton a {
  color: white;
}
.backButton:hover {
  box-shadow: 0px 0px 8px black;
}
.flexInputBoxForm {
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.flexInputBoxForm > div {
  width: 49%;
}

.flexInputBoxForm > div > div {
  width: 100%;
}
.flexFormErrorMessage {
  font-size: 0.7em;
  text-align: left;
  color: red;
}

@media screen and (max-width: 620px) {
  .formContainer {
    padding: 0.5em;
  }
  .innerFormContainer {
    width: 100%;
  }
  .flexInputBoxForm {
    flex-direction: column;
    gap: 1em;
  }
  .flexInputBoxForm > div {
    width: 100%;
  }
}

@media screen and (max-width: 745px) {
  .flexInputBoxForm {
    flex-direction: column;
    gap: 1em;
  }
  .flexInputBoxForm > div {
    width: 100%;
  }
}
