.nav {
  height: 12vh;
  width: 100%;
  padding: 1em;
  display: flex;
  z-index: 20;
  background: #323765;
  color: #ffffff;
  padding: 12px;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.nav ul {
  list-style: none;
}
.input-field {
  width: 100%;
  position: relative;
}

.searchBar {
  display: flex;
  gap: 0;
}

.searchIcon {
  margin-right: -23px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  text-transform: uppercase;
  font-weight: 700;
}
.leftSideList {
  display: flex;
  gap: 9px;
  cursor: pointer;
  font-size: 1em;
  align-items: center;
  justify-content: center;
}
.barIcon {
  font-size: 25px;
  padding: 2px 9px;
  border-radius: 5px;
  margin: auto 9px;
}

.headNavBar {
  grid-column: 1/7;
  position: sticky;
  z-index: 8;
  top: 0;
}
