.nav {
  height: 12vh;
  width: 100%;
  display: flex;
  z-index: 20;
  background: white;
  color: #89216b;
  border-bottom: 0.2em solid;
  padding: 12px;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.nav ul {
  list-style: none;
}
.input-field {
  width: 100%;
  position: relative;
}

.searchbar {
  display: flex;
  gap: 0;
}

.searchicon {
  margin-right: -23px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  text-transform: uppercase;
}
.leftsidelist {
  display: flex;
  gap: 9px;
  cursor: pointer;
  font-size: 1em;
  justify-content: center;
  align-items: center;
}
.baricon {
  font-size: 25px;
  padding: 2px 9px;
  border: 2px solid #89216b;
  border-radius: 5px;
  margin: auto 9px;
}

.headnavbar {
  grid-column: 1/7;
  position: sticky;
  z-index: 8;
  top: 0;
}
.baricon:hover {
  background-color: #89216b;
  color: white;
}
