#sidenav {
  grid-column: 1/2;
  position: sticky;
  top: 12vh;
  height: calc(100vh - 12vh);
  background-color: #ad5389;

  border-right: 2px solid #89216b;
}

#sidenav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  align-items: center;
}
#sidenav ul a {
  text-decoration: none;
  text-transform: uppercase;
  /* margin: 1em auto; */
  width: 100%;
  font-size: 1em;
  color: rgb(255, 255, 255);
}
#sidenav ul li:hover {
  background-color: rgb(0 0 0 / 46%);
}
#sidenav ul li {
  padding: 1em;
  width: 100%;
}
