#sideNav {
  grid-column: 1/2;
  position: sticky;
  top: 12vh;
  height: calc(100vh - 12vh);
  border-right: 2px solid #323765;
  background-color: #eeeeee;
}

#sideNav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  gap: 1em;
  align-items: center;
}
#sideNav ul a {
  text-decoration: none;
  text-transform: uppercase;
  /* margin: 1em auto; */
  width: 100%;
  font-size: 1em;
  color: rgb(255, 255, 255);
}
#sideNav ul a i {
  color: rgb(0, 0, 0);
  font-size: 1.5em;
}
#sideNav ul li {
  display: flex;
  align-items: center;

  text-align: right;
  padding: 1em;
  width: 100%;
}
#sideNavExpandable {
  grid-column: 2/3;
  position: sticky;
  border-right: 2px solid #323765;
  top: 12vh;
  height: calc(100vh - 12vh);
  background-color: #eeeeee;
}
#sideNavExpandable ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: right;
  gap: 1em;
  align-items: center;
}
#sideNavExpandable ul a {
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  font-size: 1em;
  color: rgb(255, 255, 255);
}
#sideNavExpandable ul a {
  color: rgb(0, 0, 0);
  font-size: 1.1em;
  font-weight: 600;
}
#sideNavExpandable ul li {
  padding: 1em;
  color: black;
  width: 100%;
}
#sideNavExpandable ul li {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 1em 1em 1em 0px;
  width: 100%;
}
