.wrapperBody {
  min-height: 100vh;
  display: flex;
  grid-column: 1/7;
  align-items: center;
  justify-content: center;
}
.wrapper {
  display: flex;
  position: relative;
  max-width: 70vw;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.2);
}
.wrapper > div {
  width: 50%;
  padding: 0.5em;
}
.rightDiv {
  /* transition: 2s;
  transform: translateX(-50%); */
  /* animation-duration: 3s;
  animation-name: slideOut;
  animation-fill-mode: forwards;
  animation-direction: alternate; */
}
.leftDiv {
  color: #fff;
  margin: 0 0 0 0%;
  position: relative;
  text-align: center;
  width: 50%;
  z-index: 5;
  transition: margin 0.7s, display 1s, width 1s;

  /* transition: 2s;
  transform: translateX(50%); */
  /* animation-name: slideIn;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  animation-direction: alternate; */
}
.wrapper > div > img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.wrapper h2 {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}

.authLinksActive::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  border-radius: 12px;
  background: #323765;
}
.wrapper form {
  margin-top: 30px;
}
.wrapper form .input-box div {
  height: 52px;
  margin: 18px 0;
}
form .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #c7bebe;
  border-bottom-width: 3.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid {
  border-color: #323765;
}
form h3 {
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input {
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #323765;
  cursor: pointer;
}
.inputIcon {
  display: flex;
  align-items: center;
}
.inputIcon button {
  cursor: pointer;
  margin-left: -38px;
}
.signInSignUpHeading {
  display: flex;
  gap: 1em;
}
link {
  color: inherit;
}
.eyeIcon {
  font-weight: 230;
}
.submitButtonContainer {
  display: flex;
  justify-content: center;
}
.submitButtonContainer {
  display: flex;
  justify-content: center;
}
.submitButtonContainer > button {
  cursor: pointer;
  background: #323765;
}
.submitButtonContainer > button:hover {
  background: #323765;
  transform: scale(1.01);
}
.submitButtonContainer > button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
  color: white;
  background: #737373;
}

.button-container {
  color: #323765;
  font-size: larger;
  text-align: center;
  z-index: 90;
  position: relative;
}
@media screen and (max-width: 700px) {
  .wrapper {
    flex-direction: column;
  }
  .wrapper > div {
    width: 100%;
  }
}
/* @keyframes slideIn {
  from {
    margin-left: 50%;
    width: 0%;
  }

  to {
    margin-left: 0%;
    width: 50%;
  }
} */
/* @keyframes slideOut {
  from {
    margin-left: -50%;
    width: 0%;
  }

  to {
    margin-left: 0%;
    width: 50%;
  }
} */
