.wrapperBody {
  min-height: 100vh;
  display: flex;
  grid-column: 1/7;
  align-items: center;
  justify-content: center;
}
.wrapper {
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.2);
}
.wrapper h2 {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.authLinksDeactive::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: rgb(231 0 125);
}
.authLinksActive::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  border-radius: 12px;
  background: rgb(231 0 125);
}
.wrapper form {
  margin-top: 30px;
}
.wrapper form .input-box div {
  height: 52px;
  margin: 18px 0;
}
form .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #c7bebe;
  border-bottom-width: 3.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid {
  border-color: rgb(231 0 125);
}
form h3 {
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input {
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: rgb(231 0 125);
  cursor: pointer;
}
.inputIcon {
  display: flex;
  align-items: center;
}
.inputIcon button {
  cursor: pointer;
  margin-left: -38px;
}
.button-container {
  display: flex;
  gap: 1em;
}
link {
  color: inherit;
}
.eyeIcon {
  font-weight: 230;
}
.submitButtonContainer {
  display: flex;
  justify-content: center;
}
